* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    background-color: #071E3D;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1440px;
}

.movie_nav_container {
    display: flex;
    margin: 2rem 0;
    [class^='movie_display_button'] {
        background-color: #ffffff;
        padding: 0.8rem;
        color: rgb(151, 148, 148);
        letter-spacing: 0.1rem;
        outline: none;

        &:hover { 
            background-color: #1F4287;
            color: #DDDDDD;
        }
    }
    .movie_display_button1, .movie_display_button2 { border-right: 1px solid rgb(184, 184, 184);}
    .movie_display_button1 {
        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
    }
    .movie_display_button3 {
        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
    }
    .active { 
        background-color: #1F4287;
        color: #DDDDDD;
    }
}
